.modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;

  display: block;
  width: 100%;
  height: 100%;

  background-color: rgba(0, 0, 0, 0.6);

  z-index: 100;
}

.modal__wrapper {
  position: absolute;
  top: 15%;
  left: 50%;
  transform: translateX(-50%);

  width: 500px;
  min-height: 300px;
  padding: 60px 40px;
  border-radius: 10px;

  background-color: $accent-color;
  overflow: hidden;

  &::before {
    content: '';

    position: absolute;
    bottom: -575px;
    left: -250px;
    right: -250px;

    width: 1000px;
    height: 1000px;
    border-radius: 50%;

    background-color: #FAEF1B;

    z-index: -1
  }
}

.modal__wrapper--subs {
  width: 500px;

  &::before {
    position: absolute;
    bottom: -815px;
    left: -250px;
    right: -250px;

    width: 1000px;
    height: 1000px;
    border-radius: 50%;

    background-color: #FAEF1B;

    z-index: -1
  }
}

.modal__title {
  margin: 0;
  padding: 0;
  margin-bottom: 20px;

  font-size: 32px;
  line-height: 36px;
  font-weight: 700;
  color: $bg-color;
  text-align: center;
}

.modal__close {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 30px;
  height: 30px;
  border: none;

  background-color: transparent;
  background-image: url('../../img/icon-close.png');
  background-repeat: no-repeat;
  background-size: 40px 40px;
  background-position: center;
}

.hidden {
  display: none;
}

@media (max-width: 550px) {
  .modal__wrapper {
    width: 100%;
    min-width: 360px;
    padding: 40px 20px;
  }

  .modal__title {
    max-width: 400px;
    margin: 0 auto 20px;

    font-size: 24px;
    line-height: 28px;
  }
}