.promo {
  margin-top: -110px;
  background-image: url('../../img/icon-bg-promo-right.svg'),
    url('../../img/icon-bg-promo-left.svg');
  background-repeat: no-repeat;
  background-position: center right -100px,
    bottom left -200px;
}

.promo__container {
  width: 1440px;
  min-height: 600px;
  padding-top: 250px;
  padding-right: 40px;
  padding-bottom: 200px;
  padding-left: 40px;

  background-image: url('../../img/bg-promo-girl.png'),
    url('../../img/bg-promo-glasses.png'),
    url('../../img/icon-bg-promo-center.svg'),
    url('../../img/icon-bg-promo-compass.svg');
  background-repeat: no-repeat;
  background-position: top 100px right,
    bottom left 50px,
    center right,
    top 90px left 20%;
}

.promo__title {
  width: 630px;
  margin: 0;
  margin-bottom: 20px;
  margin-left: 300px;
  padding: 0;
  font-weight: 700;
  font-size: 96px;
  line-height: 96px;
  color: $title-color;
  text-transform: uppercase;
}

.promo__subtitle {
  margin: 0;
  margin-left: 300px;
  bottom: 0;
  font-weight: 400;
  font-size: 32px;
  line-height: 36px;
  color: $title-color;
}

.promo__tours {
  width: 800px;
  height: 70px;
  margin: 0 auto;
  margin-top: 50px;
  border: 2px solid $basic-color;
  border-radius: 5px;
}