.promo {
  margin-top: -110px;
  background-image: url('../../img/icon-bg-promo-right.svg'),
    url('../../img/icon-bg-promo-left.svg');
  background-repeat: no-repeat;
  background-position: top 50px right -100px,
    top -350px left -200px;
}

.promo__container {
  width: 1440px;
  min-height: 600px;
  margin: 0 auto;
  padding-top: 200px;
  padding-right: 40px;
  padding-bottom: 100px;
  padding-left: 40px;

  background-image: url('../../img/bg-promo-girl.png'),
    // url('../../img/bg-promo-glasses.png'),
    url('../../img/icon-bg-promo-center.svg'),
    url('../../img/icon-bg-promo-compass.svg');
  background-repeat: no-repeat;
  background-position: top 100px right,
    // bottom left 50px,
    top 100px right,
    top 450px left 80px;
}

.promo__title {
  width: 630px;
  margin: 0;
  margin-bottom: 20px;
  margin-left: 230px;
  padding: 0;
  font-weight: 700;
  font-size: 96px;
  line-height: 96px;
  color: $title-color;
  text-transform: uppercase;
}

.promo__subtitle {
  margin: 0;
  margin-left: 230px;
  bottom: 0;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  color: $title-color;
}

.promo__tours {
  width: 900px;
  margin: 0 auto;
  margin-top: 50px;
  border-radius: 5px;
}

@media (max-width: 1440px) {
  .promo__container {
    width: auto;
  }
}

@media (max-width: 1330px) {
  .promo__title {
    margin-left: 130px;
  }

  .promo__subtitle {
    margin-left: 130px;
  }
}

@media (max-width: 1220px) {
  .promo__tours {
    width: auto;
  }
  
  .promo__title {
    margin-left: 60px;
    font-size: 76px;
    line-height: 86px;
  }

  .promo__subtitle {
    margin-left: 60px;
  }
}

@media (max-width: 1010px) {
  .promo__title {
    margin-left: 0;
  }

  .promo__subtitle {
    margin-left: 0;
  }
}

@media (max-width: 700px) {
  .promo__container {
    padding-right: 20px;
    padding-left: 20px;
  }
  
  .promo__title {
    width: 320px;
    font-size: 40px;
    line-height: 50px;
  }
}