.swiper {
  width: 700px;
  min-height: 700px;
}

.tours-list {
  margin: 0 auto;
  padding: 0;

  list-style: none;
}

.tours-list__item {
  display: flex;
  flex-direction: column;
}

.tours-list__image-wrapper {
  position: relative;

  width: 585px;
  height: 355px;
  margin-left: auto;
  border-radius: 20px;
  overflow: hidden;

  z-index: 10;
}

.tours-list__content {
  position: relative;

  box-sizing: border-box;
  width: 585px;
  min-height: 355px;
  margin-top: -20px;
  margin-left: 40px;
  padding: 60px 80px 60px 40px;
  border-radius: 20px;

  background-color: $basic-color;
}

.tours-list__content-img__wrapper {
  position: absolute;
  bottom: 20px;
  right: 20px;
  width: 120px;
}

.tours-list__title {
  margin: 0;
  padding: 0;
  margin-bottom: 20px;

  font-size: 22px;
  line-height: 28px;
  font-weight: 500;
  color: $bg-color;
}

.tours-list__text {
  width: 400px;
  margin: 0;
  padding: 0;

  font-size: 16px;
  line-height: 24px;
  color: $bg-color;
  font-weight: 400;
}
