.article-list {
  margin: 0;
  padding: 0;

  list-style: none;
}

.article-list__item {
  margin-bottom: 10px;

  text-align: left;

  &:last-child {
    margin-bottom: 0;
  }
}

.article-list__item--margin {
  position: relative;
  margin-bottom: 10px;
  padding-left: 24px;

  &::before {
    content: '';

    position: absolute;
    top: 0;
    left: 0;
    width: 17px;
    height: 10px;
    border-bottom: 2px solid $basic-color;
    border-left: 2px solid $basic-color;
    transform: rotate(-45deg);
  }
}

.article-list__item--style {
  position: relative;
  margin-bottom: 0;
  padding-left: 18px;

  &::before {
    content: "";
    position: absolute;
    top: 2px;
    left: 0;
    width: 8px;
    height: 12px;
    border-bottom: 2px solid $basic-color;
    border-right: 2px solid $basic-color;
    transform: rotate(45deg);
  }
}

.article-num-list {
  margin-bottom: 40px;
  padding: 0;
  padding-left: 20px;
}

.article-num-list__link {
  color: #02979a;

  &:hover {
    text-decoration: underline;
  }
}