.article-list {
  margin: 0;
  margin-top: 5px;
  margin-right: 50px;
  margin-bottom: 5px;
  padding: 0;

  list-style: none;

  &:last-child {
    margin-right: 0;
  }
}

.article-list__item {
  margin-bottom: 10px;

  text-align: left;

  &:last-child {
    margin-bottom: 0;
  }
}

.article-list__item--margin {
  position: relative;
  margin-bottom: 10px;
  padding-left: 24px;

  &::before {
    content: '';

    position: absolute;
    top: 3px;
    left: 0;
    width: 15px;
    height: 8px;
    border-bottom: 2px solid $basic-color;
    border-left: 2px solid $basic-color;
    transform: rotate(-45deg);
  }
}

.article-list--number {
  counter-reset: my-counter;
}

.article-list--number li {
  counter-increment: my-counter;
  position: relative;
  padding-left: 22px;
}

.article-list--number li::before {
  content: counter(my-counter) ".";

  position: absolute;
  left: 5px;
  font-size: 20px; 
  font-weight: bold;
  line-height: 24px;
  color: $basic-color;
}

.article-list__item--style {
  position: relative;
  margin-bottom: 0;
  padding-left: 18px;

  &::before {
    content: "";
    position: absolute;
    top: 2px;
    left: 0;
    width: 8px;
    height: 12px;
    border-bottom: 2px solid $basic-color;
    border-right: 2px solid $basic-color;
    transform: rotate(45deg);
  }
}

.article-num-list {
  margin: 0;
  margin-bottom: 40px;
  padding: 0;
  padding-left: 20px;
}

.article-num-list__link {
  color: #02979a;

  &:hover {
    text-decoration: underline;
  }
}

.article-num-list--no-margin {
  margin-bottom: 0;
}

.article-num-list__sublist {
  margin: 0;
}
.article-num-list__subitem {
  font-size: 16px;
}

.article-num-list__sublink {
  color: #666;

  &:hover {
    text-decoration: underline;
  }
}