.breadcrumbs-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  margin-bottom: 40px;
  padding: 0;

  list-style: none;
}

.breadcrumbs-list__item {
  padding-left: 5px;

  &::before {
    content: '>>';

    color: $basic-color;
  }

  &:first-child {
    padding-left: 0;

    &::before {
      content: '';
    }
  }
}

.breadcrumbs-list__item--active {
  color: #a1a1a1;
}