.contacts-page__container {
  width: 1280px;
  margin: 0 auto;
  padding: 60px;
}

.contacts-page__title {
  display: block;
  margin-top: 3px;
  margin-bottom: 11px;
  font-size: 18px;
  font-weight: 500;
  color: $accent-color-dark;
}

.contacts-page__street {
  display: block;
  margin-bottom: 12px;

  font-weight: 500;
}

.contacts-page__city,
.contacts-page__country {
  font-weight: 500;
}

.contacts-page__time {
  font-weight: 500;
}

.contacts-page__info {
  display: flex;
  text-align: left;
}

.contacts-page__info-box {
  margin-right: 40px;
}

.contacts-page__link {
  color: $accent-color-dark;
  font-size: 18px;

  &:hover {
    text-decoration: underline;
  }
}

.contacts-page__text {
  margin: 0;
  margin-bottom: 10px;

  font-size: 18px;
  line-height: 24px;
}

.contacts-page__name {
  padding-right: 10px;
  font-weight: 500;
  color: $title-color;
}

.contacts-page__text-address {
  font-size: 18px;
  line-height: 24px;
}

@media (max-width: 1280px) {
  .contacts-page__container {
    width: auto;
  }
}

@media (max-width: 1020px) {
  .contacts-page__container {
    padding: 20px 40px;
  }

  .contacts-page__wrapper {
    flex-direction: column;
  }

  .contacts-page__info {
    padding-left: 0;
  }
}

@media (max-width: 700px) {
  .contacts-page__container {
    padding-left: 20px;
    padding-right: 20px;
  }

  .contacts-page__info {
    flex-direction: column;
  }
}