.dream {
  background-image: url('../img/dream-bg-elephant.webp'),
    url('../img/icon-bg-promo-left.svg'),
    url('../img/icon-dream-bg-right.svg');
  background-repeat: no-repeat;
  background-size: 438px 444px, 707px 700px, 707px 595px;
  background-position: left -150px bottom, top 200px left 5%, center right 5%;
}

.dream__container {
  width: 1280px;
  margin: 0 auto;
  padding-top: 80px;
  padding-right: 40px;
  padding-bottom: 80px;
  padding-left: 40px;

  background-image: url('../img/icon-dream-bg-line.svg');
  background-repeat: no-repeat;
  background-size: 850px auto;
  background-position: top 290px right 50px;
}

.dream__title {
  margin: 0;
  padding: 0;
  margin-bottom: 60px;

  font-size: 48px;
  line-height: 55px;
  font-weight: 700;
  color: $title-color;
  text-align: center;
}

.dream__button-wrapper {
  display: flex;
  justify-content: center;
  text-align: center;
}

.dream__button {
  min-width: 225px;
  min-height: 44px;
  padding: 13px 50px;
  border: none;
  border-radius: 4px;

  background-color: $basic-color;
  color: $bg-color;

  transition: 0.2s linear;

  &:hover {
    background-color: #E06B2A;
  }

  &:active {
    color: $basic-color;
  }
}

@media (max-width: 1280px) {
  .dream__container {
    width: auto;
  }
}

@media (max-width: 1140px) {
  .dream {
    background-position: left -130px bottom, top 100px left -250px, center right -150px;
  }

  .dream__container {
    background-position: top 290px right -50px;
  }
}

@media (max-width: 1040px) {
  .dream__container {
    background-image: none;
  }
}

@media (max-width: 770px) {
  .dream {
    background-position: left -300px bottom, top 100px left -350px, center right -350px;
  }
}

@media (max-width: 700px) {
  .dream__container {
    padding-right: 20px;
    padding-left: 20px;
    padding-bottom: 40px;
  }

  .dream__title {
    margin-bottom: 20px;
    font-size: 36px;
    line-height: 42px;
  }
}

@media (max-width: 670px) {
  .dream__container {
    background-image: url('../img/icon-dream-bg-line-mobile.svg');
    background-repeat: no-repeat;
    background-size: 345px auto;
    background-position: top 300px center;
  }
}

@media (max-width: 600px) {
  .dream {
    background-image: url('../img/dream-bg-elephant.webp'),
      url('../img/icon-dream-bg-left.svg'),
      url('../img/icon-dream-bg-right.svg');
    background-repeat: no-repeat;
    background-size: 438px 444px, 707px 595pxx, 707px 595px;
    background-position: left -600px bottom, top 300px left -50px, bottom 300px right -50px;
  }
}