.main-nav__list {
  width: 400px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  padding: 0;

  list-style: none;

  z-index: 10000;
}

.main-nav__list--footer {
  width: 200px;
  flex-direction: column;
  align-items: start;
  padding-left: 20px;
}

.main-nav__list--footer .main-nav__list-item {
  margin-bottom: 5px;
}

.main-nav__list--footer .main-nav__list-link {
  line-height: 28px;
}

.main-nav__list-link {
  padding-bottom: 2px;
  border-bottom: 2px solid transparent;
  font-weight: 500;
  font-size: 18px;
  color: $text-color;
  line-height: 24px;
  transition: all 0.2s linear;
  
  &:hover {
    border-bottom-color: $basic-color;
  }

  &:active {
    color: $basic-color;
    border-bottom-color: $basic-color;
  }
}

.main-nav__list-link--active {
  color: #9e9d9d;

  &:hover {
    border-bottom-color: transparent;
  }

  &:active {
    color: #9e9d9d;
    border-bottom-color: transparent;
  }
}

.main-nav__button {
  display: none;
  width: 50px;
  height: 50px;
  border: none;
  background-color: transparent;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.main-nav__button--closed {
  background-image: url('../img/icon-closed.svg');  
}

.main-nav__button--opened {
  background-image: url('../img/icon-opened.svg');  
}

@media (max-width: 1075px) {
  .main-nav__list {
    width: 350px;
  }

  .main-nav__list--footer {
    width: auto;
  }
}

@media (max-width: 930px) {
  .main-nav {
    order: 3;
  }

  .main-nav__list {
    background-color: $bg-color;
  }

  .main-nav__list--footer {
    padding-left: 20px;
    background-color: transparent;
  }

  .main-nav > .main-nav__list {
    display: none;
  }

  .main-nav--show > .main-nav__list {
    position: absolute;
    top: 80px;
    left: 0;
    right: 0;

    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }

  .main-nav--show .main-nav__list-item {
    width: 100%;
    padding-top: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid #eeeeee;
    text-align: center;

    &:first-child {
      border-top: 1px solid #eeeeee;
    }
  }

  .main-nav__button {
    display: block;
  }
}

@media (max-width: 700px) {
  .main-nav__list--footer {
    padding-left: 100px;
  }
}

@media (max-width: 400px) {
  .main-nav__list--footer {
    padding-left: 80px;
  }
}