.news__container {
  width: 1280px;
  margin: 0 auto;
  padding: 60px 40px;
}

.news__title {
  margin: 0;
  padding: 0;

  font-size: 48px;
  line-height: 56px;
  color: $title-color;
  text-align: center;
}

.news__button-wrapper {
  display: flex;
  justify-content: center;
}

.news__button {
  min-width: 225px;
  min-height: 44px;
  padding: 13px 50px;
  border: none;
  border-radius: 4px;

  background-color: $basic-color;
  color: $bg-color;

  transition: 0.2s linear;

  &:hover {
    background-color: #E06B2A;
  }

  &:active {
    color: $basic-color;
  }
}

@media (max-width: 1280px) {
  .news__container {
    width: auto;
  }
}

@media (max-width: 700px) {
  .news__container {
    padding-top: 40px;
    padding-right: 20px;
    padding-bottom: 40px;
    padding-left: 20px;
  }

  .news__title {
    margin-bottom: 40px;
    font-size: 36px;
    line-height: 42px;
  }
}