.pages__container {
  width: 1140px;
  margin: 0 auto;
  padding: 40px 20px;
  text-align: center;
}

.pages__title {
  margin: 0;
  font-size: 48px;
  line-height: 60px;
  font-weight: 700;
  color: $title-color;
}

.pages__description {
  margin: 0;
  margin-bottom: 60px;

  font-weight: 500;
  font-size: 36px;
  line-height: 42px;
  color: $basic-color;
}

.pages__image {
  margin-bottom: 40px;
}

.pages__text--left {
  text-align: left;
}

@media (max-width: 1280px) {
  .pages__container {
    width: auto;
  }
}

@media (max-width: 700px) {
  .pages__container {
    padding-right: 20px;
    padding-left: 20px;
  }

  .pages__title {
    font-size: 32px;
    line-height: 36px;
  }

  .pages__description {
    font-size: 28px;
    line-height: 32px;
  }
}