.resorts {
  margin: 0;
  padding: 0;
  padding-top: 10px;

  list-style: none;
}

.resorts--list-min {
  display: flex;
  flex-wrap: wrap;
  padding-left: 10px;
}

.resorts__item {
  display: flex;
  margin-bottom: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid $border-color;

  &:last-child {
    border-bottom: none;
  }
}

.resorts__item--list-min {
  border-bottom: none;
  margin-bottom: 0;
  margin-right: 18px;
  padding-bottom: 0;
}

.resorts__item-content {
  width: 390px;
  padding-left: 20px;
}

.resorts__item-image {
  width: 280px;
  max-width: 100%;
}

.resorts__item-image--list-min {
  width: 100px;
  margin-bottom: 0;
  box-shadow: 1px 1px 3px $border-color;
}

.resorts__item-title {
  margin: 0;
  padding: 0;
  margin-bottom: 10px;

  font-size: 22px;
  line-height: 32px;
}

.resorts__item-title--list-min {
  font-size: 16px;
  line-height: 22px;
  font-weight: 500;
  color: $basic-color;
}

.resorts__item-title--font-size-14 {
  font-size: 14px;
}

.resorts__item-text {
  margin: 0;
  padding: 0;
  margin-bottom: 10px;
}

.resorts__item-link--list-min {
  &:hover > h3 {
    text-decoration: underline;
  }
}

.resorts__item-link--about {
  border-bottom: 1px solid $basic-color;
  color: $basic-color;
}

@media (max-width: 550px) {
  .resorts__item {
    flex-direction: column;
  }

  .resorts__item-link {
    margin-bottom: 20px;
  }

  .resorts__item-content {
    width: auto;
    padding-left: 0;
  }
}