.sections-wrapper {
  background-image: url('../img/icon-dream-bg-left.svg'),
    url('../img/icon-bg-promo-left.svg');
  background-repeat: no-repeat;
  background-size: 707px 595px, 701px 1019px;
  background-position: bottom 50px right 5%, bottom 240px left -10%;
}

@media (max-width: 1280px) {
  .sections-wrapper {
    background-size: 707px 595px, 601px auto;
    background-position: bottom 150px right -20%, bottom -50px left -20%;
  }
}

@media (max-width: 1020px) {
  .sections-wrapper {
    background-position: bottom 240px right -60%, bottom -50px left -60%;
  }
}

@media (max-width: 920px) {
  .sections-wrapper {
    background-image: url('../img/icon-bg-promo-left.svg');
    background-repeat: no-repeat;
    background-size: 801px auto;
    background-position: bottom 0 left -30%;
  }
}