@import './normalize.scss';
@import './variables.scss';
@import './global.scss';
@import './blocks/header.scss';
@import './blocks/main-nav.scss';
@import './blocks/phones.scss';
@import './blocks/promo.scss';
@import './blocks/about.scss';
@import './blocks/booking.scss';
@import './blocks/payment.scss';
@import './blocks/payment-list.scss';
@import './blocks/calendar.scss';
@import './blocks/dream.scss';
@import './blocks/dream-list.scss';
@import './blocks/sections-wrapper.scss';
@import './blocks/hot-tours.scss';
@import './blocks/tours-list.scss';
@import './blocks/subs.scss';
@import './blocks/socials.scss';
@import './blocks/min-price.scss';
@import './blocks/news.scss';
@import './blocks/news-list.scss';
@import './blocks/footer.scss';
@import './blocks/footer-list.scss';
@import './blocks/modal.scss';
@import './blocks/feedback-form.scss';
@import './blocks/subs-form.scss';
@import './blocks/article.scss';
@import './blocks/article-list.scss';
@import './blocks/articles.scss';
@import './blocks/articles-catalog.scss';
@import './blocks/breadcrumbs-list.scss';
@import './blocks/pages.scss';
@import './blocks/contacts-page.scss';
@import './blocks/about-page.scss';
@import './blocks/meta-list.scss';
@import './blocks/tabs.scss';
@import './blocks/resorts.scss';
@import './blocks/countries.scss';
@import './blocks/flights.scss';
@import './blocks/credit.scss';

@import './link.scss';