$basic-color: #f75301;
$basic-color-hover: #d04500;
$basic-color-active: #a53700;
$bg-color: #FFFFFF;
$text-color: #2b2b2b;
$title-color: #555757;
$border-color: #d3d3d3;
$accent-color: #01DADC;
$accent-color-dark: #02979a;